---
import type Tag from "../../../types/Tag";
import themeConfig from "@util/themeConfig";
const config = themeConfig.directoryData.tags;

const { tag } = Astro.props;

const configTag = config?.find((element: any) => element.key === tag);

const tagClass = configTag?.color ? `${configTag.color}-tag` : "gray-tag";
---

<span class:list={[
  "inline-flex items-center rounded-md border border-transparent px-2 py-1 text-xs font-medium transition-colors",
  tagClass
]}>
  {configTag?.name || tag}
</span>
