---
import UiTag from "@components/ui/tags/Tag.astro";
import DirectoryFeaturedTag from "../FeaturedTag.astro";
import { Image } from "astro:assets";
const { myItem, href } = Astro.props;
---

<a href={href}
  class="block h-full overflow-hidden rounded-lg border border-[hsl(var(--border))] bg-[hsl(var(--card))] text-[hsl(var(--card-foreground))] hover:shadow-md relative group transition-shadow duration-200">
  { myItem.featured ? <DirectoryFeaturedTag class="ml-6"  /> : <></> }
  { myItem.image ? (
    <div class="w-full h-48 overflow-hidden bg-[hsl(var(--muted))]">
      <Image height={500} width={800} class="w-full h-48 rounded-t object-cover"
        src={myItem.image} alt={myItem.title} />
    </div>
  ) : (
    <div class="w-full h-48 px-2 text-center flex justify-center items-center rounded-t font-semibold text-lg bg-[hsl(var(--muted))] text-[hsl(var(--muted-foreground))]">
      {myItem.title }
    </div>
  )}
  <div class="p-6">
    <h3 class="m-0 text-lg font-semibold card-title">
      { myItem?.title }
    </h3>
    <p class="line-clamp-3 mt-2 text-sm text-[hsl(var(--muted-foreground))] card-description">
      { myItem.description }
    </p>
    <div class="p-0 mt-4 flex flex-wrap gap-2">
      { myItem.tags?.map(
        (e: string) => <UiTag tag={e} /> )
      }
    </div>
  </div>
</a> 
